# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (si usas .env)
.env

# MacOS system files
.DS_Store

# Visual Studio Code settings
.vscode/

# MongoDB local database files (si alguna vez usas archivos locales)
data/

# Output folder (si usas compiladores o build)
dist/
build/
